[Desktop Entry]
Type=Application
Name=Dictionary
GenericName=Словарь с повторением
Comment=Свои слова и переводы, повторение по Лейтнеру
Exec=hub-open dict
Icon=jarvis-hub-dict
Terminal=false
Categories=Utility;Education;
StartupWMClass=hub-app
Keywords=hub;Hub;ргд;Ргд;ХАБ;хаб;словарь;Словарь;ckjdfhm;dictionary;Dictionary;слово;Слово;слова;Слова;word;Word;перевод;Перевод;translation;Translation;
